.color-change-2x{animation:color-change-2x 10s linear infinite alternate backwards}
 @keyframes color-change-2x{0%{background:#9fe9f0}50%{background:#015449}100%{background:#cf98ee}}
.kenburns-bottom-left{animation:kenburns-bottom-left 5s ease-out both}
@keyframes kenburns-bottom-left{0%{transform:scale(1) translate(0,0);transform-origin:16% 84%}100%{transform:scale(1.25) translate(-20px,15px);transform-origin:left bottom}}
.text-blur-out{animation:text-blur-out 3s cubic-bezier(.55,.085,.68,.53) both}
@keyframes text-blur-out{0%{filter:blur(.01)}100%{filter:blur(12px) opacity(0)}}
/* .rotate-center{animation:rotate-center 6s linear infinite forwards} */
.rotate-center{animation:rotate-center 6s linear infinite}
@keyframes rotate-center{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}
.blur-out-expand-fwd{animation:blur-out-expand-fwd 1s cubic-bezier(.25,.46,.45,.94) both}
@keyframes blur-out-expand-fwd{0%{transform:translateZ(0);filter:blur(.01)}100%{letter-spacing:1em;transform:translateZ(300px);filter:blur(12px) opacity(0)}}
.focus-in-contract-bck{animation:focus-in-contract-bck 1s cubic-bezier(.25,.46,.45,.94) both}
@keyframes focus-in-contract-bck{0%{letter-spacing:1em;transform:translateZ(300px);filter:blur(12px);opacity:0}100%{transform:translateZ(12px);filter:blur(0);opacity:1}}